<style>
.box-modal {
  margin-top: 50px;
  width: 800px;
  min-height: 600px;
  display: block;
  z-index: 999999999;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -430px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
}
.bcg-modal{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255, .8);
  z-index: 99999;
}
.close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn {
  padding: 0 20px;
  outline: 0;
}
.btn-primary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  background-color: #479ccf !important;
  border: 1px solid #2f82b4 !important;
  color: white;
  padding: 0 9px !important;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  background-color: #2a74a0 !important;
  border: 1px solid #2f82b4 !important;
  color: white;
  padding: 0 9px !important;
  
}
.btn:disabled {
  opacity: .4;
}

.hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
  opacity: 0;
}
.visibile {
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
}
.printer-preview-top {
  min-height: 38px;
}
.heading.printer-template-name {
  float: left;
  line-height: 34px;
  font-size: 15px;
}
.printer-template-actions button {
  float: right;
}
</style>
<script>
var getNumberWithDecimals = function(number, element) {
  var numberWithDecimals = number / 100; // it's working thanks to having already only 2 decimal places
  
  var priceSpan = document.getElementsByClassName(element);
  for (var i = priceSpan.length - 1; i >= 0; i--) {
    priceSpan[i].innerHTML = numberWithDecimals + ' Kč';
  };
};
</script>
<div id="modal" class="hidden">
  <div class="box-modal">
    <span id="close-modal" class="close-modal">X</span>
    <h3>Chci vystavit</h3>
    <button class="btn" id="whole-invoice">Celý dobropis</button>
    <button class="btn" id="partial-invoice">Částečný dobropis</button>
    <div id="modal-items" class="hidden" >
      <h3>Vyberte stornované zboží</h3>
      <table class="table-tabular" style="margin: 0 0 1.5em 0; font-size: 80%;">
        <thead>
          <tr>
            <th align="left" style="text-align: left">Množství</th>
            <th>Označení dodávky</th>
            
            <th align="right" style="width: 95px; text-align: right">Cena bez DPH</th>
            <th align="right" style="text-align: right">%DPH</th>
            <th align="right" style="text-align: right">DPH</th>
            <th align="right" style="text-align: right">Celkem</th>
            <th align="right" style="text-align: right">Stornováno?</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in line_items %}
            <tr>
              <td>{{ line_item.quantity }} x</td>
              <td><b>{{ line_item.title }}</b></td>
              <td align="right" style="text-align: right">
                  <span class="{{ line_item.price }}"></span>
                  <script>
                      getNumberWithDecimals( {{ line_item.price }}, '{{ line_item.price }}');
                  </script>
              </td>
              <td align="right" style="text-align: right">21%</td>
              <td align="right" style="text-align: right">
                  <span class="tax-{{ line_item.price }}"></span>
                  <script>
                      getNumberWithDecimals( Math.round({{ line_item.price | times: 1.21 | minus: line_item.price }}), 'tax-{{ line_item.price }}');
                  </script>
              </td>
              <td align="right" style="text-align: right">
                  <span class="celkem-{{ line_item.price }}" value="{{ line_item.price }}"><span class="minus-span"></span></span>
                  <script>
                      getNumberWithDecimals( Math.round({{ line_item.price | times: 1.21 }}), 'celkem-{{ line_item.price }}');
                  </script>
              </td>
              <td align="right" style="text-align: right">
                 <input class="cbox" type="checkbox" name="refund" value="test" ></input>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button class="btn btn-primary" id="modalSubmit">Vyhodnotit</button>
    </div>
  </div>
  <div class="bcg-modal"></div>
</div>
<div style="float: left; margin: 0 0 1.5em 0; width: 100%;" >
  <strong id="opravna-faktura" style="font-size: 1.5em;">Faktura EMS{{ date | date: "%Y" }}{{ order_number }} </strong><br /><br />
  <div style="float: left; width: 45%;">
    Dodavatel: <br />
    <b>{{ shop.name }}</b><br /><br />
    {{ shop.address }}<br/>
    {{ shop.city }} {{ shop.province_code }} {{ shop.zip | upcase }}<br/>
    Česká republika
    <br /><br />
    IČO: 12345678 
    DIČ: CZ212345678 <br />
    <p style="font-size: 11px">ZAPSÁNO U MĚSTSKÉHO SOUDU.</p><br />
    E-mail: {{ shop.email }}<br />
    Web: {{ shop.domain }}<br /><br />
    <b>Číslo účtu: 100-1234567890/0100</b><br /> <br />
    
    Forma úhrady: {{ gateway }} <br /> 
    Variabilní symbol: {{ date | date: "%Y" }}{{ order_number }}<br /><br />
    <span style="font-size: 80%">
    Datum vystavení: {{ created_at | date: "%d. %m. %y" }}<br />
    Datum splatnosti: {{ date | date: "%d. %m. %y" }}<br />
    {% for transaction in transactions limit:1 %}
        Datum zdanitelného plnění: {{ transaction.date | date: "%d. %m. %y" }} <br />
    {% endfor %}
    </span>
  </div>
  <div style="float: right; width: 45%">
    <h3 style="margin: 0 0 1em 0;">Odběratel:</h3>

    <div style="margin: 0 0 1em 0; padding: 1em; border: 1px solid black;">
      <strong>{{ billing_address.name }}</strong><br/>
      {% if billing_address.company %}
        {{ billing_address.company }}<br/>
      {% endif %}
      {{ billing_address.street }}<br/>
      {{ billing_address.city }}
      {{ billing_address.province_code }}
      {{ billing_address.zip | upcase }}<br/>
      {{ billing_address.country }}
      <ul>
        {% for attribute in attributes %}
         <li style="margin: 0px; list-style-type: none;"> {{ attribute | first | replace: '-', ' ' |  replace: '_', ' ' | replace: 'den', 'Narození: Den' | replace: 'mesic', 'Měsíc' | replace: 'rok', 'Rok' | replace: 'ico', 'IČO' | replace: 'dic', 'DIČ' }} : {{ attribute | last }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<hr />
<h3 style="margin: 0 0 1em 0;">Objednávka</h3>
<table class="table-tabular" style="margin: 0 0 1.5em 0; font-size: 80%;">
  <thead>
    <tr>
      <th align="left" style="text-align: left">Množství</th>
      <th>Označení dodávky</th>
      
      <th align="right" style="width: 95px; text-align: right">Cena bez DPH</th>
      <th align="right" style="text-align: right">%DPH</th>
      <th align="right" style="text-align: right">DPH</th>
      <th align="right" style="text-align: right">Celkem</th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items %}
      <tr>
        <td>{{ line_item.quantity }} x</td>
        <td><b>{{ line_item.title }}</b></td>
        <td align="right" style="text-align: right">
            <span class="result-span {{ line_item.price }}"></span>
            <script>
                getNumberWithDecimals( {{ line_item.price }}, '{{ line_item.price }}');
            </script>
        </td>
        <td align="right" style="text-align: right">21%</td>
        <td align="right" style="text-align: right">
            <span class="result-span tax-{{ line_item.price }}"></span>
            <script>
                getNumberWithDecimals( Math.round({{ line_item.price | times: 1.21 | minus: line_item.price }}), 'tax-{{ line_item.price }}');
            </script>
        </td>
        <td align="right" style="text-align: right">
            <span class="result-span celkem-invoice celkem-{{ line_item.price }}" value="{{ line_item.price }}"></span>
            <script>
                getNumberWithDecimals( Math.round({{ line_item.price | times: 1.21 }}), 'celkem-{{ line_item.price }}');
            </script>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4 style="margin: 0 0 1em 0;">Detaily k platbě</h4>

<table class="table-tabular" style="margin: 0 0 1.5em 0; font-size: 80%;">
  <tr>
    <td>Mezisoučet:</td>
    <td align="right" style="text-align: right"><span class="result-span subtotal-price-with-decimals"></span></td>
  </tr>
  {% for discount in discounts %}
  <tr>
    <td>Sleva "{{ discount.code }}"</td>
    <td align="right" style="text-align: right"><span class="result-span discount-price-with-decimals"></span>{{ discount.savings | money }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>DPH:</td>
    <td align="right" style="text-align: right"><span class="result-span tax-price-with-decimals"> </span></td>

  </tr>
  {% if shipping_address %}
    <tr>
      <td>Doprava:</td>
      <td align="right" style="text-align: right"><span class="result-span shipping-price-with-decimals"></span></td>
    </tr>
  {% endif %}
  <tr>
    <td>Zaokrouhlení:</td>
    <td align="right" style="text-align: right">
      <span class="result-span halirove-vyrovnani"></span>
    </td>
  </tr>
  <tr>
    <td><strong>CELKEM K ÚHRADĚ:</strong></td>
    <td align="right" style="text-align: right"><strong><span class="result-span total-price-with-decimals">{{ total_price | money }}</span></strong></td>
  </tr>
</table>
<script>
  ////////////////////////
  //Add button to shopify
  (function addButtonToHeader() {
    var button = document.createElement("button");
        button.className = "btn btn-create-invoice";
        button.id = "btn-open-invoice-maker";
        button.innerHTML = "Vytvořit dobropis";

    var el = document.getElementsByClassName("printer-template-actions");
    for (var i = el.length - 1; i >= 0; i--) {
      console.log("childmade");
      el[i].appendChild(button);
    };
  })();

  ////////////////////////////////
  //Submit of form and calculation
  function modalSubmit() {
    var checkedCheckboxes = getCheckedBoxes("refund").length;
    var checkboxes = getAttributes("refund").length;

    placeBeforeContent('opravna-faktura', 'Opravná');

    if (checkedCheckboxes == checkboxes) {
      wholeInvoiceInMinus();
    } else {
      calcul();
      document.getElementById("modal").classList.add("hidden");
    };
  }

  (function calcul() {
    var mezisoucet = 0;
    var mezisoucetMinus = 0;
    var mezisoucetCelkem = 0;
    var dan = 0;
    var celkem = 0;
    var halere = 0;

    //get checked checkboxes
    var checkboxArray = getCheckedBoxes("refund");
    if (!(checkboxArray === null)) {
      for (var i = 0; i < checkboxArray.length; i++) {
        var value = checkboxArray[i].getAttribute("class");
        var elementIndex = parseInt(value.substring(1));
        addMinus(elementIndex);
      }
    }
    
    var listMinus = document.getElementsByClassName("celkem-invoice-minus");
    for (var j = 0; j < listMinus.length; j++) {
      //get spanvalue
      var spanvalueMinus = parseInt(listMinus[j].getAttribute("value"));
      spanvalueMinus = spanvalueMinus / 100;
      //mezisoucet
      mezisoucetMinus += spanvalueMinus;

    };

    var list = document.getElementsByClassName("celkem-invoice");
    console.log(list.length);
    for (var k = 0; k < list.length; k++) {
      //get spanvalue
      var spanvalue = parseInt(list[k].getAttribute("value"));
      spanvalue = spanvalue / 100;
      //mezisoucet
      mezisoucet += spanvalue;
    }
    //mezisoucet
    mezisoucetCelkem = mezisoucet - mezisoucetMinus 
    mezisoucetCelkem =  Math.round( mezisoucetCelkem * 100) / 100;
    //dph
    dph = Math.round((mezisoucetCelkem * 0.21) * 100) / 100 ;
    //celkem a halere
    celkem = mezisoucetCelkem + dph;
    halere = celkem;
    celkem = Math.round(celkem);
    halere = Math.round((halere - celkem) * 100) / 100 ;

    //display
    console.log(spanvalue);
    console.log("mezisoucet: " + mezisoucet + " mezisoucetMinus " + mezisoucetMinus + " mezisoucetCelkem " + mezisoucetCelkem + " dph: " + dph + " celkem " + celkem + " halere " + halere); 

    displayInElement( dph, 'tax-price-with-decimals' );
    displayInElement( {{ shipping_price }} , 'shipping-price-with-decimals' );
    displayInElement( mezisoucetCelkem, 'subtotal-price-with-decimals' );
    displayInElement( halere, 'halirove-vyrovnani' );
    displayInElement( celkem, 'total-price-with-decimals' );
  })();

  function wholeInvoiceInMinus() {
    document.getElementById("modal").classList.add("hidden");
    placeBeforeContent('opravna-faktura', 'Opravná');

    var elem = document.getElementsByClassName("result-span");
    for (var i = elem.length - 1; i >= 0; i--) {
      spanvalue = elem[i].innerHTML
      if (!(spanvalue === "0 Kč")) {
        elem[i].innerHTML = "-" + spanvalue;
      };
    };
  }

  //////////////////////
  //supportive functions
  function addMinus(elementIndex) {
    var list = document.getElementsByClassName("celkem-invoice");
    for (var i = list.length - 1; i >= 0; i--) {
      invoiceIndex = list[i].getAttribute("invoiceIndex");
      var index = parseInt(invoiceIndex);
      if (index == elementIndex) {
          console.log("mame shodu");
          console.log(list[i]);
          list[i].classList.add("celkem-invoice-minus");
          var content = list[i].innerHTML;
          list[i].innerHTML = "-" + content;
      } else { console.log("nemame zhodu");};
    };
  } 
  function displayInElement(number, element) {
    var priceSpan = document.getElementsByClassName(element);
    for (var i = priceSpan.length - 1; i >= 0; i--) {
      priceSpan[i].innerHTML = number + ' Kč';
    };
  }
  function getCheckedBoxes(chkboxName) {
    var checkboxes = document.getElementsByName(chkboxName);
    var checkboxesChecked = [];
    // loop over them all
    for (var i = checkboxes.length - 1; i >= 0; i--) {
       // And stick the checked ones onto an array...
       if (checkboxes[i].checked) {
          checkboxesChecked.push(checkboxes[i]);
       }
    }
    // Return the array if it is non-empty, or null
    return checkboxesChecked.length > 0 ? checkboxesChecked : null;
  }
  function getAttributes(element) {
    var el = document.getElementsByName(element);
    var els = [];
    // loop over them all
    for (var i = el.length - 1; i >= 0; i--) {
       // And stick the checked ones onto an array...
      els.push(el[i]);
    }
    // Return the array if it is non-empty, or null
    return els.length > 0 ? els : null;
  }
  function addAttr(element, firstAttName, seccondAttName) {
    var list = document.getElementsByClassName(element);
    for (var i = list.length - 1; i >= 0; i--) {
      list[i].setAttribute(firstAttName, [i]);
    };
  }

  
  function placeBeforeContent(element, contentUser) { 
    var el = document.getElementById(element); 
    var content = contentUser + ' ' + el.innerHTML;
    el.innerHTML = content;
    console.log(content);
  }

  addAttr("celkem-invoice", "invoiceIndex");
  var list = document.getElementsByClassName("cbox");
  for (var i = list.length - 1; i >= 0; i--) {
    cname = "c" + [i];
    list[i].setAttribute("class", cname);
  };
  

  document.getElementById("btn-open-invoice-maker").addEventListener("click", function() {
    document.getElementById("modal").classList.remove("hidden");
  }, false);

  document.getElementById("close-modal").addEventListener("click", function() {
    document.getElementById("modal").classList.add("hidden");
  }, false);

  document.getElementById("partial-invoice").addEventListener("click", function() {
    document.getElementById("modal-items").classList.remove("hidden");
    document.getElementById("whole-invoice").disabled = true;
  }, false);

  document.getElementById("whole-invoice").addEventListener("click", wholeInvoiceInMinus, false);
  document.getElementById("modalSubmit").addEventListener("click", modalSubmit, false);

</script>